.idea
overlays
*.iml

target
.vagrant
Berksfile.lock
.project
.classpath
.settings/
.idea/
.vscode/
obj/
.vs/
sepg-dotnet-build-adapter.csproj.user
overlays/
build-info.json
.env
dependency-reduced-pom.xml
*~
*.iml
EricSrc/*
eclipse-out/*
