<?xml version="1.0" encoding="utf-8" ?>
<configuration >
	<!--<appSettings>
		<add key="serilog:using:Console" value="Serilog.Sinks.Console" />
		<add key="serilog:write-to:Console.theme" value="Serilog.Sinks.SystemConsole.Themes.AnsiConsoleTheme::Code, Serilog.Sinks.Console" />
		<add key="serilog:write-to:Console.outputTemplate" value="[{Timestamp:yyyy-MM-dd HH:mm:ss} {ProcessId}.{ThreadId} {Level:u4} {TenantId} {CorrelationId}] [{SourceContext}] {Message}{NewLine}{Exception}" />
	</appSettings>-->
</configuration>